@charset "UTF-8";

.wpusv-embed-video {
    z-index: 1;
    position: relative;
    height: 0;
    margin-bottom: 2em;
    padding-top: 56.25%;
}

.wpusv-embed-video:last-child {
    margin-bottom: 0;
}

.wpusv-embed-video-play,
.wpusv-embed-video .cover,
.wpusv-embed-video > iframe {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.wpusv-embed-video > iframe {
    width: 100%;
    height: 100%;
}

.wpusv-embed-video .cover {
    z-index: 3;
    background: #000 no-repeat center center;
    background-size: cover;
}

.wpusv-embed-video-play {
    z-index: 3;
    width: 2em;
    height: 2em;
    padding: 0;
    border: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 1.8;
    outline: 0;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.wpusv-embed-video-play:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.wpusv-embed-video-play:before {
    content: "";
    display: inline-block;
    z-index: 1;
    position: relative;
    height: 0;
    margin-left: 0.7em;
    border: 1px solid transparent;
    border-width: 0.5em 0.8em;
    border-left-color: currentColor;
    vertical-align: -0.15em;
}
